@inherits EntryComponentBase

@if (CommitInfo != null && Entry != null)
{
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4"><label>Author:&nbsp;</label><strong>@CommitInfo.commit.author.name</strong></div>
                <div class="col-4"><label>Last Update:&nbsp;</label><strong>@CommitInfo.committer.date.ToShortDateString()</strong></div>
                <div class="col-4"><label>File:&nbsp;</label><strong>@Entry.path</strong></div>
            </div>
        </div>
        <div class="card-body">
            @HtmlContent
        </div>
    </div>
}